* {
  box-sizing: border-box;
}

h1 {
  color: rgb(13, 95, 161);
}

h2 {
  color: rgb(106, 188, 255);
}

body {
  background-color: rgba(215, 211, 197, 0.487);
}

p {
  color: rgb(88, 88, 88);
  font-weight: 200;
}
