* {
  box-sizing: border-box;
  margin: 0;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #13293d;
}

body {
  font-family: "Bagel Fat One", system-ui;
  font-family: "Krona One", sans-serif;
  font-family: "Lilita One", sans-serif;
  font-family: "Pacifico", cursive;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #13293d;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
  background-color: #eff6fb;
}

.logo img {
  height: 50px;
}

.logo {
  font-size: 1.6rem;
  font-weight: 900;
  letter-spacing: 0.3rem;
  text-decoration: none;
  color: #19344d;
}
.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navigation li {
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: #333;
}

.navigation a:hover {
  color: #d0e2f1;
}

/* PRODUKT.HTML */

.breadcrumb {
  list-style: none;
  padding: 30px 60px;
  display: flex;
  align-items: center;
}

.breadcrumb-item {
  margin-right: 10px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #13293d;
}

.breadcrumb-item a:hover {
  text-decoration: underline;
}

.breadcrumb-item::after {
  content: "/";
  margin-left: 10px;
}

.breadcrumb-item:last-child::after {
  content: none;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.produkt_grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 60px;
  gap: 30px;
}

.p_padding {
  margin-bottom: 40px;
  font-weight: 100;
}

.img_produkt {
  height: 700px;
  width: auto;
}

/* KATEGORIER */
.k_padding {
  padding: 10px 60px;
  font-weight: 100;
}

.kategori_grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 120px;
  margin: 80px 60px;
}

.knap_kategori,
button {
  background-color: #526877aa;
  color: #eff6fb;
  text-decoration: none;
  padding: 40px 117px;
  font-size: 1.2rem;
  border-radius: 10px;
}

.knap_kategori:hover,
button:hover {
  color: #18435a;
  cursor: pointer;
}

/* PRODUKTLISTE */

.produktliste_grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 60px;
  margin: 10px 60px;
}

.p_list_padding {
  margin-bottom: 10px;
  font-weight: 100;
}

.h1_list {
  margin-left: 60px;
  margin-bottom: 50px;
  font-weight: 200;
  font-size: 1.5rem;
}

h3 {
  font-weight: 300;
}

h5,
h6 {
  font-size: 1rem;
}

/* UDSOLGT */

.soldout {
  display: none;
}

article.soldOut .soldout {
  display: block;
  color: red;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid black;
}

article.fade img {
  display: block;
  filter: opacity(40%);
}

/* UDSALGS */

.discount {
  display: none;
}

article.disCount .discount {
  display: block;
  color: rgb(13, 95, 9);
  font-size: 1rem;
  text-transform: uppercase;
  padding: 10px;
  border: 1px solid black;
}

/* MOBIL */

@media screen and (max-width: 768px) {
  .produktliste_grid,
  .kategori_grid,
  .produkt_grid {
    display: unset;
  }

  article {
    padding: 20px;
  }
}
